
/* GENERAL CSS */

html,body{
  font-size: 16px;
  padding: 0.5rem;
  background-color: #fff;
  height: 100%;
}

button{
  border: 0;
  padding: 0;
  font-size: 100%;
}

/* Page Structure CSS */
#root{
  height: 100%;
}
.App{
  height: 100%;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
}
.main{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  height: 10%;
}

/* Elements inside the Header-class */

.logo{
  background-color:blue;
}
.menu{
  background-color:blue;
}

/* Elements inside the Main-class */
.game-box{
  position: relative;
  width: 70%;
  height: 80%;
  border: 0.1rem solid #ccc;
  border-radius: 2px;
  text-align: center;
}


/* Elements inside the Game-box */
.game-before-start{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.game-after-start{
  height: 100%;
  width: 100%;
  display:block;
}
.startButton{
  position:relative;
  display:block;
  width:  8rem;
  background-color: rgba(35, 100, 117, 0.7);
  border-radius: 0.1rem;
  box-sizing: content-box;
  transition: all 500ms ease;
}

/* STARTBUTTON EFFECT */
@keyframes StrBtn {
  0%{
    padding: 0px;
    border: 10px solid #eee;
  }
  100%{
    padding: 20px;
    border: 10px solid #ccc;
  }
}
.startButton:hover{
  animation: StrBtn 500ms forwards;
}
.startButton:active{
  animation: StrBtn 1s forwards;
  animation-direction: reverse;
}
/* ResultScreen */
.result-box{
  position: relative;
  width: 100%;
  height: 100%;
  border: 0.1rem solid #ccc;
  border-radius: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.column-placeholder{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  width: 50%;
  height: 50%;
  align-items: flex-end;
}
/* Column animation */

.col{
  width: 10%;
  margin: 10px;
  
  transition: all 500ms;
}

.col-1{

}
.col-2{

}
.col-3{

}
.col-4{

}
