
/* GENERAL CSS */
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
/**
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
}


div[class*=box] {
    width: 30%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
*/


.box-1 { background-color: #A119E0; }




html,body{
  font-size: 16px;
  padding: 0.5rem;
  background-color: #fff;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  font-family:Arial, Helvetica, sans-serif;

  
}
.startButton {
  color: #FFF;
  transition: all 0.5s;
  position: relative; 


}
.startButton span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
 
}
.startButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.startButton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.startButton:hover::before {
transform: rotate(-45deg);

}
.startButton:hover::after {
transform: rotate(45deg);
}
hr {
  padding: 0;
  margin: 0;
}
button{
  border: 10px;
  padding: 10px;
  font-size: 100%;
  background-color: #A119E0;
  line-height: 10px;
  text-align: center;
  cursor: pointer;
}

/* Page Structure CSS */
#root{
  height: 100%;
}
.App{
  height: 100%;
}

.header{
  display: flex;
  justify-content: space-between;
  height: 11%;
 
}
.main{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  height: 10%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #A1E2AC;
  color: black;
  text-align: center;
  padding:10px;

  
}

/* Elements inside the Header-class */

.logo{
  background-color:#A1E2AC;
  content: url(../src/democrazy_logo-RGB.png);
  padding: 3px;
  height: 20px;
  border-radius: 10px;

}
.menu{
  font-size: 25px;
  height: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.5rem;
}
.menuBtn{
}
@keyframes dropAnim {
  0%{
    height: 0%;
    color: white;
    opacity: 0;
  }
  100%{
    height: 100%;
    opacity: 1;
  }
}
.dropdown{
  animation: dropAnim 500ms ease;
  width: 100%;
}

.drp-btn{
  background-color: #ccc;
  width: 100%;
  line-height: 2.4;
  font-size: 1rem;
  cursor: pointer;
}
/* Elements inside the Main-class */
.game-box{
  position: relative;
  width: 70%;
  height: 80%;
  border: 0.1rem solid #ccc;
  border-radius: 10px;
  text-align: center;
}


/* Elements inside the Game-box */
.game-before-start{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.game-before-start-inner{
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.intro-text{
  font-size: 2rem;
}
.game-after-start{
  height: 80%;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.answers-box{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
}
.answer-items{
  margin: 0.4rem;
}

.startButton{
  position:relative;
  display:block;
  width:  100px;
  background-color:#A119E0;
  border-radius: 0.1rem;
  box-sizing: content-box;
  transition: all 500ms ease;
  border-radius: 10px;
  font-weight: 900;
  color: #fff;
  padding: 10px;
  height: 10px;
 
}


/* STARTBUTTON EFFECT */

/* ResultScreen */

.column-placeholder{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  width: 50%;
  height: 50%;
  align-items: flex-end;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
/* Result percentage Column animation */

/* TODO: Implement loading animation  */

.col{
  width: 10%;
  margin: 10px;
  margin-bottom: 0;
  transition: all 500ms;
}

.col-1{

}
.col-2{

}
.col-3{

}
.col-4{

}
